@media (min-width: 768px) and (max-width: 992px) {
  nav ul {
    margin-right: 40px;
  }
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    margin-top: 20px;
  }
  .cont-h1 img {
    display: none;
  }
  .banniere {
    margin-top: -40px;
    width: 80%;
  }
  .ban-h2{
    height: 170px;
  }
  .tableau {
    width: 80%;
  }
  #video-presa {
    width: 100%;
    margin-top: 50px;
  }
  #video-presa h3{
    width: 65%;
  }
  #video-presa .p2 {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  #video-neo, #video-albin{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }
  #video-neo video {
    margin-left: 0;
  }
  #video-neo .p1, .p2, #video-albin .p1 {
    margin: 0 auto;
    width: 70%;
  }
  audio {
    width: 50%;
    transform: translateX(28%);
  }
  #video-albin h3{
    width: 65%;
    margin: 0 auto;
  }
  #video-albin video {    
    width: 70%;
    height: auto;
    margin: 30px auto 0;
  }  

  /* Races */
  .races{
   margin-top: -20%;
  }
  .races h2, #connexion h2, #soins-habitat h2 {
    width: 80%;
  }  
  .races h2{
    height: 170px;
    margin-top: 0;
  }
  .race-titre p {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .cheval-course,
  .cheval-sport,
  .cheval-sauvage,
  .cheval-de-selle,
  .cheval-de-trait {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .cheval-course img,
  .cheval-sport img,
  .cheval-sauvage img,
  .cheval-de-selle img,
  .cheval-de-trait img {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .cheval-course p,
  .cheval-sport p,
  .cheval-sauvage p,
  .cheval-de-selle p,
  .cheval-de-trait p {
    padding: 20px;
    text-align: center;
  }

  #soins-habitat h2 {
    height: 170px;
  }
  #soins-habitat h3 {
    width: 70%;
  }
  #soins-habitat p {
    text-align: center;
    padding: 10px;
  }
  .ferme img, #soins-habitat p {
    width: 80%;
  }
  .ferme img {
    height: 400px;
  }
  .ferme p{
    height: 250px;
  }

  /* Food */
  .food {
    margin-left: 0;
  }
  .food h3 {
    width: 50%;
    margin: 50px auto;
  }
  .food img, .ferrure img {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
  .food p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
  }

  /* Ferrure */
  .ferrure {
    display: flex;
    justify-content: center;
  }
  .ferrure h3 {
    width: 50%;
    margin: 0 auto 30px;
  }
  .ferrure p {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    /* transform: translateX(40%); */
  }

  #connexion h2{
    height: 170px;
  }
  form {
    width: 90%;
  }
}

@media (max-width: 767px) {
  nav,
  figcaption {
    display: none;
  }
  figure .fa-solid {
    font-size: 60px;
    margin-top: -10px;
  }
  .logo {
    background: none;
    border: none;
  }

  /* menu burger */
  .box {
    height: 65px;
    width: 65px;
    background-color: white;
    top: 25px;
    right: 30px;
    position: absolute;
    border-radius: 15px;
  }
  .cont-lignes {
    width: 45px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lignes {
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #000;
    position: absolute;
    transition: top 0.5s ease-in-out, transform 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
  }
  .lignes:nth-child(1) {
    top: 0px;
  }
  .lignes:nth-child(2) {
    top: 18px;
  }
  .lignes:nth-child(3) {
    top: 36px;
  }
  .btn1:active .lignes:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
  }
  .btn1:active .lignes:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
  }
  .btn1:active .lignes:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
  }

  /* Titre */
  #titre img,
  .ban-fond {
    display: none;
  }
  h1 {
    display: none;
  }
  .banniere {
    width: 90%;
    height: 100px;
    margin-top: 0;
  }
  .ban-h2 {
    height: 100px;
    margin-bottom: -10px;
  }
  .ban-h2 h2 {
    font-size: 27px;
  }
  .tableau {
    width: 90%;
    margin-top: -50px;  
  }
  .table{
    font-size: 18px;
  }

  /* Nos chevaux */
  .cheval {    
    width: 90%;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 25px;    
  }
  .card h3{
    margin-bottom: 20px;
  }
  .card img{
    width: 100%;
  }
  .descriptif{   
    height: auto;
  }
  .descriptif p{
    font-size: 20px;    
  }
  .colorVert{           
    margin-bottom: 20px;
  }
  
  /* video-presa */
  #video-presa .p1,
  .p2 {
    width: 100%;
  }
  video{
    width: 100%;
  }
  audio{
    width: 77%;
  }

  /* Naissances */

  #video-albin {
    width: 100%;
  }
  #video-albin h3 {
    margin-bottom: 30px;
  }

  /* Races */
  .races{
    margin-top: -300px;
  }
  .races h2, #connexion h2, #soins-habitat h2 {
    width: 80%;
    height: 100px;
    margin-bottom: 20px;
    font-size: 27px;
  }
  .races h2 {
    height: 80px;   
  }
  .race-titre p {
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .cheval-course,
  .cheval-sport,
  .cheval-sauvage,
  .cheval-de-selle,
  .cheval-de-trait {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .cheval-course img,
  .cheval-sport img,
  .cheval-sauvage img,
  .cheval-de-selle img,
  .cheval-de-trait img {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .cheval-course p,
  .cheval-sport p,
  .cheval-sauvage p,
  .cheval-de-selle p,
  .cheval-de-trait p {
    padding: 20px;
    text-align: center;
    font-size: 18px;
  }

  /* video-presa */
  #video-presa h3 {
    width: 100%;
    text-align: center;
  }
  #video-presa video {
    width: 80vw;
  }

  /* Naissances */
  .naissances {
    height: 1165px;
  }
  #video-neo,
  #video-albin {
    width: 100vw;
    margin: 0 auto;
  }
  #video-neo h3, #video-albin h3 {  /* 1b */
    width: 70%;
    font-size: 18px;
    font-size: 18px;
  }
  #video-neo video,
  #video-albin video {
    width: 80%;
    margin: -20px auto 30px;
  }
  #video-neo span {
    text-align: center;
    font-size: 17px;
    width: 70%;
    height: auto;
  }
  audio {
    margin-bottom: 0;
  }
  #video-albin h3 {    /* 2b */
    margin: 50px auto 50px;
  }

  /* Soins-habitat */
  .ferme {
    margin-top: -50px;
  }
  .ferme h3,
  .food h3,
  .ferrure h3 {
    width: 70%;
    font-size: 25px;
  }
  .ferme img {
    width: 80%;
    height: 300px;
  }
  .ferme p, .food p, .ferrure p {      /* 1b */
    width: 80%;
    text-align: left;
    font-size: 18px;
  }
  .ferme p{
    text-align: center;
  }

  .food {
    margin-left: 0;
  }
  .food h3 {
    margin: 0 auto;
  }
  .food img,
  .ferrure img {
    display: flex;
    width: 80vw;
    height: 300px;
    margin: 30px auto;
  }
  .food p {
    /* 2b */
    margin: 0 auto;
  }

  .ferrure h3 {
    margin: 30px auto 0;
  }
  .ferrure img {
    margin-bottom: -20px;
  }
  .ferrure p {
    margin: 50px auto;
    text-align: center;
  }

  /* Connexion */
  #connexion h2 {
    height: 70px;  
  }
  form {
    width: 80%;
    margin-top: 20px;
  }
  form h3,
  label,
  .message h4 {
    font-size: 20px;
    padding-right: 0;
  }
  #connexion #tel label {
    width: 70%;
    margin: 10px auto 30px;
  }
  #nom,
  #tel,
  #avis,
  #email,
  #pass,
  #number,
  #date {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #avis {
    width: 80%;
  }
  .flexCentre {
    display: flex;
    flex-direction: column;
  }
  .activites,
  .age {
    width: 80%;
    margin: 50px auto -30px;
  }
  .activites legend,
  .age legend {
    font-size: 20px;
    text-align: center;
  }
  .activites label,
  .age label {
    font-size: 20px;
  }
  .resa {
    margin-top: 50px;
  }
  #pays,
  #reset,
  #envoyer {
    font-size: 18px;
    width: 30%;
  }

  /* Footer */
  footer {
    margin-top: -60px;
  }
  #infos {
    margin: 20px auto;
    width: 95%;
  }
  #infos a {
    font-size: 16px;
  }
  footer p {
    line-height: 1.5;
    width: auto;
  }
}
