#soins-habitat h2,
.ferme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -10px;
}

#soins-habitat h2 {
  align-items: center;
  text-align: center;
  height: 215px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  margin-top: 80px;
  font-size: 32px;
}

#soins-habitat h2,
.ferme h3,
.food h3,
.ferrure h3 {
  background: white;
  color: green;
  width: 40%;
}

.ferme h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-weight: bold;
  font-size: 19px;
  padding: 10px;
  border: 8px solid #884200;
  margin: 50px auto;
}

.ferme img {
  width: 25%;
  height: 400px;
  margin: 0 auto;
}

.ferme p,
.food p,
.ferrure p {
  width: 60%;
  background: green;
  color: white;
  border-radius: 20px;
  padding: 10px;
}

.ferme p {
  margin: 0 auto 50px;
  margin-top: 40px;
}

.food {
  margin-left: 130px;
}

.food h3,
.ferrure h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-weight: bold;
  font-size: 19px;
  padding: 10px;
  border: 8px solid #884200;
  margin: 50px 0;
}

.food img {
  width: 25%;
}

.food p {
  width: 70%;
}

.ferrure {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ferrure img {
  width: 40%;
}

.ferrure p {
  width: 52%;
  margin-left: 0;
  border-radius: 20px;
}
