@import "./soins_habitat.css";

/* #nav {display: none;}     */
/* #titre{display: none;}     */
/* #ban{display: none;}      */
/* #tab{display: none;}       */
/* #chev{display: none;}     */
/* #vid{display: none;}      */
/* #birth{display: none;}    */
/* #race {display: none;}   */
/* #connexion {display: none;} */
/* #foot {display: none;} */
/* #soins-habitat {display: none;} */

body {
  background-image: url("./src/img/pexels-fwstudio-131634.jpg");
  backdrop-filter: blur(3px);
  scroll-behavior: smooth;
}

/* Nav */

.nav-container {
  display: flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  height: 120px;
  background: #884200;
}

figure {
  color: white;
  margin: 0 0;
}

.logo {
  background: green;
  border: 5px white groove;
  width: 50px;
  height: 23px;
  margin-top: 20px;
  margin-left: 27px;
  text-align: center;
  padding-top: 9px;
}

figcaption {
  margin-top: 20px;
  font-size: 22px;
  font-style: italic;
  padding-left: 10px;
  width: 120px;
}

/* nav */

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-style: italic;
}

/* nav ul li a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #884200;
  background: white;
  width: 330px;
  height: 120px;
} */

/* Titre */

.cont-h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

h1 {
  width: 100%;
  line-height: 1.5;
  color: white;
  background: #008000;
  margin-top: 85px;
  height: 130px;
  font-size: 5em;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  padding-left: 1%;
  z-index: 0;
}

.cont-h1 img {
  border: 5px white solid;
  width: 300px;
  position: absolute;
  right: 30px;
}

/* Banniere logo */

.banniere {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 420px;
  margin-top: 100px;
  margin: 100px auto 100px;
}

.ban-fond {
  display: flex;
  justify-content: center;
  color: white;
  background: #884200;
  height: 130px;
  margin-top: 80px;
  margin-bottom: 40px;
  border: 3px solid white;
}

.banniere .fa-solid {
  background: green;
  border: 5px white groove;
  border-radius: 50%;
  padding: 25px;
  width: 50px;
  height: 44px;
  text-align: center;
  margin-top: 10px;
  font-size: 37px;
  margin-bottom: 10px;
}

.ban-h2 {
  background: white;
  width: 90%;
  height: 300px;
  border-radius: 20px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 10px;
  margin: 0 auto;
  margin-bottom: -50px;
}

.ban-h2 h2 {
  text-align: center;
  transform: translateY(-40%);
  font-size: 30px;
  color: green;
  margin: 0;
  position: relative;
  top: 40%;
}

/* Tableau */

.tableau {
  display: grid;
  width: 70%;
  margin: 0 auto 40px;
  color: #333;
}

.tableau h2 {
  background: #884200;
  color: white;
  font-size: 23px;
  padding: 5px;
  text-align: center;
}

.table {
  background: white;
}

th,
td {
  padding: 10px;
  border: 5px solid rgb(136, 66, 0);
}

/* Chevaux */
.Allchevaux {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #008000;
  width: 100%;
  height: auto;
}

.cheval {
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px;
  width: 320px;
  margin-top: 100px;
  box-shadow: 5px 5px 10px;
  height: 520px;
  border-radius: 20px;
}

.imgCheval {
  width: 320px;
  height: 350px;
  margin-top: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.descriptif {
  background: white;
  margin-top: -30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 180px;
}

.card h3 {
  text-align: center;
  padding-top: 20px;
}

.card p {
  text-align: center;
  font-size: 15px;
}

.infos {
  color: #575454;
  font-weight: normal;
  font-size: 10px;
  margin-top: -25px;
  margin-bottom: -20px;
}

.colorVert {
  color: green;
}

.colorGris {
  color: rgb(172, 171, 171);
}

.cheval:nth-child(1) {
  /* Silya */
  order: 5;
}
.cheval:nth-child(2) {
  order: 7;
}
.cheval:nth-child(3) {
  order: 6;
}
.cheval:nth-child(4) {
  order: 8;
}
.cheval:nth-child(5) {
  order: 3;
}
.cheval:nth-child(6) {
  order: 4;
}
.cheval:nth-child(7) {
  order: 2;
}
.cheval:nth-child(8) {
  /* Apollon */
  order: 1;
}

/* Video presa */

#video-presa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

#video-presa h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 30px;
  background: white;
  color: green;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border: 8px solid #884200;
  margin-bottom: 30px;
}

#video-presa .p1 {
  margin-top: 50px;
}

#video-presa .p2 {
  margin-bottom: 20px;
}

video {
  border-radius: 20px;
  width: 70%;
  margin-bottom: 30px;
}

/* Naissances */
.naissances {
  height: 1750px;
}

#video-neo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0;
}

#video-neo h3,
span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 30px;
  background: white;
  color: green;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  margin: 0 0 30px 0;
  border: 8px solid #884200;
}

#video-neo h3 {
  margin-top: 50px;
}

#video-neo p {
  margin-bottom: 40px;
}

#video-neo video {
  margin-left: 30px;
}

audio {
  margin-bottom: 60px;
  position: relative;
  left: 11%;
}

#video-albin {
  display: flex;
  float: right;
  align-items: flex-end;
  flex-direction: column;
  width: 70%;
  height: auto;
  margin: 0;
  margin-right: 160px;
}

#video-albin h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 30px;
  background: white;
  color: green;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  margin: 50px 0 30px 0;
  border: 8px solid #884200;
}

#video-albin video {
  width: 75%;
  margin-left: 160px;
}

/* Races */
.races h2, #connexion h2 {  /* 1 */
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 40%;
  height: 215px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  margin: 0 auto 80px;
  margin-top: -461px;
  font-size: 32px;
  color: green;
}

.race-titre p {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 30px;
  width: 40%;
  margin-top: 30px;
  border: 8px green solid;
  color: #884200;
  font-weight: bold;
  font-size: 19px;
  padding: 10px 0 10px 0;
}

.cheval-course {
  display: flex;
  color: white;
  background: #884200;
}

.cheval-course img {
  width: 350px;
  height: auto;
  margin: 20px 20px 70px;
}

.cheval-sport {
  display: flex;
  color: white;
  background: #884200;
}

.cheval-sport img {
  width: 350px;
  height: auto;
  margin: 20px 20px 70px;
}

.cheval-sauvage {
  display: flex;
  color: white;
  background: #884200;
  height: 300px;
}

.cheval-sauvage img {
  width: 350px;
  height: auto;
  margin: 20px 30px 70px;
}

.cheval-de-selle {
  display: flex;
  color: white;
  background: #884200;
}

.cheval-de-selle img {
  width: 350px;
  height: 240px;
  margin: 20px 30px 70px;
}

.cheval-de-selle p {
  margin-top: 10px;
  padding-right: 10px;
}

.cheval-de-trait {
  display: flex;
  color: white;
  background: #884200;
}

.cheval-de-trait img {
  width: 350px;
  height: 240px;
  margin: 20px 30px 70px;
}

/* Connexion */

#connexion {
  margin-top: 600px;
}
#connexion h2 {
  /* 2 */
  margin-top: -550px;
}

form {
  width: 60%;
  height: auto;
  margin: 100px auto;
  background: white;
  border-radius: 20px;
  border: 5px solid #884200;
  color: green;
  margin-top: 100px;
  text-align: center;
}

form h3 {
  color: green;
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px;
}

label {
  padding-right: 20px;
}

input {
  font-size: 13px;
}

.message h4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

#avis {
  border: none;
  border: #884200 2px solid;
  width: 40%;
  margin: 20px auto 30px;
  border-radius: 8px;
  font-size: 15px;
}

#nom,
#tel,
#email,
#pass,
#number,
#date,
fieldset {
  padding: 6px 2px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-right: 20px;
  border: none;
  border: #884200 2px solid;
}

.flexCentre {
  display: flex;
  justify-content: center;
}

.activites {
  width: 25%;
  text-align: start;
  padding-left: 20px;
}

.age {
  width: 17%;
  text-align: start;
  padding-left: 20px;
}
.age legend {
  margin-bottom: 20px;
}

#pays {
  color: #008000;
  font-size: 13px;
  padding-top: 5px;
  border: 2px solid #884200;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

input[type="reset"],
input[type="submit"] {
  background: #884200;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 60px;
}

/* Footer */

#foot {
  display: flex;
  flex-direction: column;
  background: #884200;
  height: 350px;
  color: white;
}

.reseaux {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 20px auto -20px;
  font-size: 18px;
}

#infos {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto;
}
#infos p {
  font-weight: bold;
  font-size: 18px;
}

.aide,
.evenements,
.contact {
  display: grid;
  text-align: center;
}

.aide a,
.evenements a,
.contact a {
  color: white;
  text-decoration: none;
  line-height: 1.5;
  font-style: italic;
  font-weight: lighter;
  font-size: 17px;
}

footer p {
  text-align: center;
  font-size: 18px;
}
