/* generale  */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: url("img/pexels-fwstudio-131634.jpg") fixed;
  color: white;
  font-size: large;
}
.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColonneCentre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.colorBrun {
  color: rgb(136, 66, 0);
}
.colorGris {
  color: rgb(170, 170, 170);
}
.colorVert {
  color: green;
}
.texteGras {
  font-weight: bold;
}
.stopMargin {
  margin: 0;
}

/* nav */

.backNavigation {
  z-index: 3;
  width: 100%;
  margin-top: -400px;
  position: absolute;
  background-color: rgb(136, 66, 0);
}
.navFlexbox {
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 100px;
  margin: 0;
  padding: 0;
}
.bienvenue {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
}
.navFlex1 {
  font-size: 25px;
  flex: 1;
}
.navFlex2 {
  font-size: 25px;
  flex: 1;
}
.navFlex3 {
  font-size: 25px;
  flex: 1;
}
.lienNav {
  height: 100px;
}
.lienNav:hover {
  height: 100px;
  color: rgb(136, 66, 0);
  background-color: white;
}
a {
  text-decoration: none;
  color: white;
  font-style: italic;
}

/* titre et banniére */

#ancre2 {
  background-color: green;
}
.fontAncre2 {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 400px;
  margin-bottom: 200px;
  padding-left: 10px;
  height: 140px;
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
}

.portrait {
  z-index: 2;
  display: block;
  background: url("imgSmall/ecuriesmall.jpg");
  width: 350px;
  height: 350px;
  position: absolute;
  top: -111px;
  right: 20px;
  border: 6px solid white;
}

/* logo chevalet */

.backLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: rgb(136, 66, 0);
  border: 3px solid white;
  width: 50%;
}
.cercleNav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 5px groove white;
  padding: 5px;
  background-color: green;
}
.cercle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 5px groove white;
  border-radius: 50px;
  padding: 10px;
  background-color: green;
}

/* tableau */

.parentGrandTitre {
  display: flex;
  justify-content: center;
}

.grandTitre {
  color: green;
  font-size: xx-large;
  border: 2px solid white;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 5px black;
  text-shadow: 3px 3px 4px black;
  text-align: center;
}
.grandTitreSize {
  width: 90%;
  min-width: 700px;
  max-width: 800px;
  height: 300px;
  min-height: 200px;
  max-height: 250px;
}

.table {
  width: 70%;
  background-color: white;
  color: black;
}
.chevauxTable {
  width: 70%;
  background-color: rgb(136, 66, 0);
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}
th,
td {
  padding: 10px;
  border: 5px solid rgb(136, 66, 0);
}

/* Chevaux */

.parentChevaux {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 2000px;
  background-color: green;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.cheval {
  height: 600px;
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
}
.cheval:nth-child(1) {
  order: 8;
}
.cheval:nth-child(2) {
  order: 7;
}
.cheval:nth-child(3) {
  order: 6;
}
.cheval:nth-child(4) {
  order: 5;
}
.cheval:nth-child(5) {
  order: 4;
}
.cheval:nth-child(6) {
  order: 3;
}
.cheval:nth-child(7) {
  order: 2;
}
.cheval:nth-child(8) {
  order: 1;
}

.imgCheval {
  border-radius: 20px 20px 0 0;
}
.detailsCheval {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.margDescriptifCheval {
  margin-bottom: 10px;
}

/*  video presentation */

.formatVideo {
  border-radius: 20px;
  width: 50%;
  height: auto;
}
.paraVideo {
  background-color: white;
  color: green;
  width: 40%;
  height: 50px;
  border: 10px solid rgb(136, 66, 0);
  font-weight: 900;
}
.flexVideoCheval1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 150px;
}
.flexVideoCheval2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 150px;
}

/* races chevaux */

.paraRace {
  background-color: white;
  color: rgb(136, 66, 0);
  width: 40%;
  height: 50px;
  border: 10px solid green;
  font-weight: 900;
}
.imgFlottante {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  width: 370px;
}
.backPara {
  min-height: 300px;
  padding: 20px;
  background-color: rgb(136, 66, 0);
}

/*  habitat chevaux */
.imgHabitat {
  width: 450px;
}
.divAlimentation {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.divSoins {
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.paraHabitat {
  background-color: white;
  color: green;
  width: 40%;
  height: 50px;
  border: 10px solid rgb(136, 66, 0);
  font-weight: 900;
}
.backPara2 {
  border-radius: 20px;
  min-height: auto;
  padding: 20px;
  width: 50%;
  background-color: green;
}
/* marge dans un bloc */
.testMarge {
  width: 350px;
  height: 200px;
  border: 4px solid white;
  text-align: justify;
  /* marge interieur */
  padding: 15px;
  padding-bottom: 40px;
  padding-top: 40px;
  /* marge exterieur */
  margin: auto;
  margin-bottom: 30px;
  /* texte sort du bloc car trop petit */
  word-wrap: break-word;
  overflow: auto;
}
/* formulaire */
.formBackSize {
  width: 60%;
  background-color: white;
  color: green;
  border: 5px solid rgb(136, 66, 0);
  margin-bottom: 100px;
  margin-top: 100px;
  padding-bottom: 20px;
  border-radius: 20px;
}
#nom,
#pass,
#email,
#tel,
#number,
#date {
  border-radius: 10px;
  border: 3px solid rgb(136, 66, 0);
  height: 30px;
  margin: 20px;
}
#avis {
  border-radius: 10px;
  border: 3px solid rgb(136, 66, 0);
  margin: 20px;
}
#nom,
#pass,
#email,
#tel,
#number,
#date,
#avis:focus {
  outline: none;
}
fieldset,
select,
optgroup,
option {
  border-radius: 10px;
  border: 3px solid rgb(136, 66, 0);
  color: green;
  margin: 20px;
}
#reset,
#envoyer {
  height: 30px;
  width: 70px;
  background-color: rgb(136, 66, 0);
  color: white;
  border-radius: 5px;
  margin: 20px;
}
#reset:hover {
  background-color: red;
}
#envoyer:hover {
  background-color: green;
}
/*  footer */
footer {
  height: 350px;
  background-color: rgb(136, 66, 0);
}
.parentTousFooter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.reseauxFooter {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.pointer:hover {
  color: green;
}
.parentBlocFooter {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
.titreBlocFooter {
  text-align: center;
}
.blocFooter {
  width: 25%;
  height: 100px;
}
.lienFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.lienFooter:hover {
  color: green;
}
